@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* .container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} */
a:focus,
a:active {
  background: none;
  color: none;
}

/* Services */
/* .service-card {
  max-height: 364px;
  max-width: 348px;
} */
.service-card .card-body {
  padding: 0;
  padding-top: 20px;
}
